{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
    <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Nouvel administrateur</h1>

<div class="form">
    {{ form_errors(form) }}

    {{ form_start(form, {'attr': {'data-turbo': 'false'}}) }}
        {{ form_row(form.email) }}
              {# ($plainPassword) must be of type string, null given #}
       {{ form_row(form.plainPassword.first) }}
       {{ form_row(form.plainPassword.second) }}
        <button type="submit" class="btn">Enregistrer</button>
        <button class="box" type="button" onclick="window.history.back()">Retour</button>
    {{ form_end(form) }}
</div>
{% endblock %}
