{% extends 'base.html.twig' %}

{% block title %}Administration Concerts{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="user-status-bar">
            <h2>
            Vous êtes connecté en tant que    
            </h2> 
            <div class="navli">{{ app.user.userIdentifier }}</div>
        </div>
    {% endif %}

    <a href="{{ path('app_adminConcerts') }}"> 
        <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
     </a>

    <div class="profile-bar">
        <a href="{{ path('app_register')}}">
            <span class="boxli">+</span>
        </a>
        <div class="profileContainer">
       
            <img class="profile" id="profileImg" src="{{ asset('images/profil.png') }}" alt="profil">
            <div id="profileDropdown" class="dropdownMenu" style="display:none;">
                <ul>
                <a href="{{ path('app_login') }}">
                    <li class="navliProfil">s'identifier</li>
                </a>
                    <li class="navliProfil" id="logoutBtn">Déconnexion</li>
                </ul>
            </div>
        </div>
    </div>

    <h1>{{ controller_name }}</h1>
    
    <a href="{{ path('app_pois') }}" > 
        <button class="box">Ajouter ou modifier un lieu</button>
    </a>
    <a href="{{ path('app_add_partner') }}">
    <button class="box">Ajouter ou modifier un Partenaire Commercial</button>
    </a>

    {% if info is defined %}
        <a href="{{ path('app_updateInfo', {'id': info.id}) }}">
            <button class="box">Ajouter ou modifier une info générale</button>
        </a>
    {% else %}
        <button class="box" disabled>Aucune info à modifier</button>
    {% endif %}

  

    {# map through the Concerts #}
    <ul class="wrapbox">
     <li class="boxconcert">
            <div>
                <a href="{{ path('app_addConcert') }}" > 
                <img class="addbtn" src="{{ asset('images/more.png') }}" alt="add button" >
                </a>
            </div>
            </li>
        {% for concert in concerts %}
            <li class="boxconcert">
            <a href="{{ path('app_concert_show', {'id': concert.id}) }}" > 
                <div class="btnConcert">
                    <p class="text"> {{ concert.nom }} </p> 
                    <p class="text"> {{ concert.startTime|date('d/m/Y H:i') }} </p> 
                </div>
            </a>
              <button class="delBtn" data-id="{{ concert.id }}">
                <img class="delImg" src="{{ asset('images/delete.png') }}" alt="delete button">
            </button>
            </li>
          
        {% else %}
            <li>Aucun concert trouvé.</li>
        {% endfor %}

    </ul>

<button class="box" type="button" onclick="window.history.back()">Retour</button>
</div>
<script>
    window.logoutUrl = "{{ path('app_logout') }}";
</script>
<script src="{{ asset('js/dropDown.js') }}"></script>
<script src="{{ asset('js/adminConcerts.js') }}"></script>
{% endblock %}