{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" > 
<img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Modifier le concert</h1>
<div class="form">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button  class="box">Enregistrer</button>
    <button class="box" type="button" onclick="window.history.back()">Retour</button>
{{ form_end(form) }}
</div>
{% endblock %}