{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
    <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Ajouter un partenaire commercial</h1>
<div class="form">
{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.frontPage) }}
    {{ form_row(form.type) }}
    {{ form_row(form.link) }}
    <button type="submit">Ajouter</button>
{{ form_end(form) }}
</div>

{% for message in app.flashes('success') %}
    <script>
        alert("{{ message|e('js') }}");
    </script>
{% endfor %}
{% endblock %}