{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
    <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Ajouter ou modifer un partenaire commercial</h1>
<div class="radio">
    <label>
        <input type="radio" name="formMode" value="add" checked>
        Ajouter
    </label>
    <label style="display: inline-flex; align-items: center;">
        <input type="radio" name="formMode" value="modify" id="modifyRadio">
            <button type="button" id="refreshModify" style="display:none; margin-left:8px;">
            Rafraîchir
            </button>
        </input>
        Modifier
    </label>
</div>

<div id="addForm" class="form">
    <form id="partnerForm" action="{{ path('app_add_partner') }}" method="post">
        {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            {{ form_row(form.title) }}
            {{ form_row(form.frontPage) }}
            {{ form_row(form.type) }}
            {{ form_row(form.link) }}
            {{ form_row(form.imageFile) }}
            <button type="submit">Ajouter</button>
            <button class="box" type="button" onclick="window.history.back()">Retour</button>
        {{ form_end(form) }}
        </form>
    </div>

<div id="modifyForm"  class="form"  style="display:none;">
    <form id="modifForm" method="get">
         <div>
            <label for="Id">Sélectionnez le partenaire :</label>
            <select name="Id" id="Id" required>
                <option value="">-- Choisir un partenaire --</option>
                <!-- Options will be filled by JS -->
            </select>
            <button class="delBtn" >
                <img class="delImg" src="{{ asset('images/delete.png') }}" alt="delete button">
            </button>
        </div>

            <label for="frontPageCheckbox">Page d'accueil :</label>
            <input type="checkbox" name="frontPage" id="frontPageCheckbox">
            
            <label for="typeSelect">Type :</label>  
            <select name="type" id="typeSelect" required>
                <option value="">-- Choisir un type --</option>
                <!-- Options will be filled by JS -->
            </select>
            
            <label for="linkInput">Lien :</label>
            <input type="url" name="link" id="linkInput" required>

            <label>Ajouter une image</label>
            <input type="file" name="imageUpload"/>
        <div>
            <button type="submit">Modifier</button>
            <button class="box" type="button" onclick="window.history.back()">Retour</button>
        </div>
    </form>
</div>

<div id="updateForm" class="form">
</div>


{% for message in app.flashes('success') %}
    <script>
        alert("{{ message|e('js') }}");
    </script>
{% endfor %}

<script src="{{ asset('js/addPartners.js') }}"></script>
<script src="{{ asset('js/radio.js') }}"></script>
{% endblock %}