{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<a href="{{ path('app_adminConcerts') }}" class="btn btn-success"> 
    <img class="logoXtra" src="{{ asset('images/preview.png') }}" alt="logo">
</a>
<h1>Ajouter ou modifier un lieu</h1>

<div class="radio">
    <label>
        <input type="radio" name="formMode" value="add" checked>
        Ajouter
    </label>
    <label>
        <input type="radio" name="formMode" value="modify" id="modifyRadio">
         <button type="button" id="refreshModify" style="display:none; margin-left:8px;">Rafraîchir</button>
         </input>
        Modifier
    </label>  
</div>

<div id="addForm" class="form">
    <form id="poiForm" action="{{ path('post_poi') }}" method="post">
        {{ form_widget(formAddPoi) }}
        <div class="wrapbtn">
            <button type="submit">Envoyer</button>
            <button class="box" type="button" onclick="window.history.back()">Retour</button>
        </div>
    </form>
</div>

<div id="modifyForm" class="form" style="display:none;">
    <form id="modifForm" method="get">
        <div>
            <label for="poiId">Sélectionnez le lieu à modifier :</label>
            <select name="poiId" id="poiId" required>
                <option value="">-- Choisir un lieu --</option>
                <!-- Options remplis par javasScript -->
            </select>
            <button type="button" class="delBtn">
                <img class="delImg" src="{{ asset('images/delete.png') }}" alt="delete button">
            </button>
        </div>

        <label>Longitude</label>
        <input name="longitude" placeholder="exemple:2.4566">
        <label>Latitude</label>
        <input name="latitude" placeholder="48.7586">
        <label>Sélectionnez le type :</label>
        <select name="type" id="typeSelect" required>
            <option value="">-- Choisir un type --</option>
            <!-- Options remplis par javasScript -->
        </select>
    
        <div class="wrapbtn">
            <button type="submit">Modifier</button>
            <button class="box" type="button" onclick="window.history.back()">Retour</button>
        </div>
    </form>
</div>

<div id="updateForm" class="form">
</div>

<script src="{{ asset('js/poi.js') }}"></script>
<script src="{{ asset('js/radioPoi.js') }}"></script>
{% endblock %}